<!DOCTYPE html>
<html>

<head>
    <title>SHAP Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Include SmartWizard CSS -->
    <link href="../static/css/smartWizard/smart_wizard.min.css" rel="stylesheet" type="text/css" />

    <!-- Optional SmartWizard theme -->
    <link href="../static/css/smartWizard/smart_wizard_theme_circles.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/smartWizard/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/smartWizard/smart_wizard_theme_dots.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    .sw-main .sw-container {
            overflow: visible;
        }
        
        table.dataframe,
        .dataframe th,
        .dataframe td {
            border: none;
            border-bottom: 1px solid #C8C8C8;
            border-collapse: collapse;
            text-align: left;
            padding: 10px;
            margin-bottom: 40px;
        }
        
        th {
            background-color: #add8e6;
            color: white;
        }
        
        tr:nth-child(odd) {
            background-color: #eee;
        }
        
        tr:nth-child(even) {
            background-color: #fff;
        }
        
        tr:hover {
            background-color: #ffff99;
        }
    }
    </style>
</head>

<body>
    <div class="container">

        <form class="form-inline">
            <label>External Selects:</label>
            <div class="btn-group navbar-btn" role="group">
                <button class="btn btn-primary" id="reset-btn" type="button">Reset</button>
            </div>
        </form>

        <br />
        <br />
        <br />

        <!-- SmartWizard html -->
        <div id="smartwizard">
            <ul>
                <li><a href="#step-1">Step 1<br /><small>{% if dataset %} {{dataset}} {% else %} Choose Dataset {% endif %}</small></a></li>
                <li><a href="#step-2">Step 2<br /><small>{% if model %} {{model}} {% else %} Choose Model {% endif %}</small></a></li>
                <li><a href="#step-3">Step 3<br /><small>{% if datapoint %} {{datapoint}} {% else %} Choose Datapoint {% endif %}</small></a></li>
                <li><a href="#step-4">Step 4<br /><small>See Prediction</small></a></li>
                <li><a href="#step-5">Step 5<br /><small>{% if contrastive %} {{contrastive}} {% else %} Explain Prediction {% endif %}</small></a></li>
            </ul>

            <div>
                <div id="step-1" class="">
                    <h2>Choose Dataset</h2>
                    <!-- Material unchecked -->
                    <form action="{{url_for('index')}}" method="POST">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="dataset" value="IRIS" checked>
                            <label class="form-check-label">IRIS</label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="dataset" value="Mobile">
                            <label class="form-check-label">Mobile</label>
                        </div>
                        <button type="submit" class="btn btn-default" name="submit" value="submit">Submit</button>
                    </form>
                </div>
                <div id="step-2" class="">
                    <h2>Step 2: Choose Model</h2>
                    <form action="{{url_for('index')}}" method="POST">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="model" value="SVM">
                            <label class="form-check-label">SVM</label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="model" value="RF">
                            <label class="form-check-label">Random Forest</label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="model" value="KNN">
                            <label class="form-check-label">KNN</label>
                        </div>

                        <!-- Material checked -->
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="model" checked value="NN">
                            <label class="form-check-label">Neural Net</label>
                        </div>

                        <button type="submit" class="btn btn-default" name="submit" value="submit">Submit</button>
                    </form>
                </div>
                <div id="step-3" class="">
                    <div class="row" style="text-align: center">
                        Select any random point from the testing set or input your own features.
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <form action="{{url_for('index')}}" method="POST">
                                <button type="submit" class="btn btn-default" name="point" value="Random">Choose Random</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="step-4" class="row">
                    <h2>Step 4: Prediction</h2>
                    <h3> The datapoint of the test set belongs to class {{category}}.  The system can respond to counterfactual queries. Ask it questions like 'Why P[=Predicted Category] not Q [=Desired category]'. The system will generate explanation in Natural language, Histogram and provide Counterfactual Datapoints. Possible classes are: {{allclasses}}</h3>
                    <form method="POST" action="{{url_for('index')}}">
                        <h3> Why {{category}} not <input type = "text" name="desiredcategory" class="form-control col-xs-2" placeholder="Contrastive Class"> </h3>
                        <br>
                        <button type="submit" class="btn btn-primary">Ask</button>
                    </form>
                </div>
                <div id="step-5" class="">
                    <div class="container">
                        <h2>Explain Prediction: {{ contrastive }}</h2>
                        <p> Each tab shows varying kind of predictions. Depending on the context and requirement, appropriate level of predictions may be made available to the user.</p>
                        <h3>Original Datapoint</h3>
                        <p>See table below</p>
                         {{original | safe}}
                        <ul class="nav nav-pills">
                            <li class="active"><a data-toggle="pill" href="#home">Natural Language</a></li>
                            <li><a data-toggle="pill" href="#menu1">Histogram</a></li>
                            <li><a data-toggle="pill" href="#menu2">Counterfactual</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <h3>Natural Language</h3>
                                <h4>Why {{category}}?</h4>
                                <p> {{yP}} </p>
                                <h4>Why not {{desiredcategory}}?</h4>
                                <p> {{ynotQ}} </p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Histogram</h3>
                                <p>Distribution of feature effects on the datapoint</p>
                                <center>
                                    <img src="../static/img/bar.png" class="img-thumbnail" alt="Bar Plot">
                                </center>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Counterfactual</h3>
                                <p>See table below</p>
                                {{df | safe}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- Include SmartWizard JavaScript source -->
    <script type="text/javascript" src="../static/js/jquery.smartWizard.min.js"></script>

    <script type="text/javascript">
        window.location = "{{ location }}"
        $(document).ready(function() {
            // Smart Wizard
            $('#smartwizard').smartWizard({
                selected: 0,
                theme: 'default',
                transitionEffect: 'slide',
                toolbarSettings: {
                    toolbarPosition: 'top',
                    toolbarExtraSelects: [{
                        label: 'Finish',
                        css: 'btn-success',
                        onClick: function() {
                            alert('Finish Clicked');
                        }
                    }, {
                        label: 'Cancel',
                        css: 'btn-warning',
                        onClick: function() {
                            $('#smartwizard').smartWizard("reset");
                        }
                    }]
                }
            });

            // External Select Events
            $("#reset-btn").on("click", function() {
                // Reset wizard
                $('#smartwizard').smartWizard("reset");
                return true;
            });

            $('#smartwizard').smartWizard("theme", "arrows");
        });
    </script>
</body>

</html>